.titles {
    background-color: #4F7942;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    text-align: center;
    padding: 10px;
}

accordion-body {
    text-wrap: initial;
    background-color: #d0ffc2;

}