<div class="p-5 mb-4 text-white rounded-3 mt-5" style="background-color: #4F7942;">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bienvenue sur Numérique Inclusif Responsable Durable !</h1>
                <p class="col-md-8 fs-4">Découvrez nos solutions innovantes conçues pour simplifier votre quotidien et booster votre productivité.</p>
                <a href="#quizz-section" class="btn btn-light btn-lg" type="button">En savoir plus</a>
            </div>
        </div>
        