<section class="content-section bg-light-alt">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h2 class="display-6" style="color: #228B22;">Durabilité et sobriété numérique</h2>
                        <p class="lead">
                            <strong>Le savoir est la clé de la transformation.</strong> Notre plateforme est un hub de connaissances, offrant des formations pratiques et des ressources documentaires de qualité.
                        </p>
                        <p>
                            Accédez à des tutoriels, des webinaires et des articles d'experts sur l'accessibilité, la cybersécurité, le code éthique et bien plus encore. 
                            Rejoignez notre communauté pour <strong>échanger les meilleures pratiques</strong> et faire progresser collectivement le numérique responsable.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center"> 
                            <img class="img-fluid rounded-3 shadow-lg" 
                            src="assets/img/ami.jpg" 
                            alt="Illustration d'une famille de pingun" 
                            style="max-height: 400px; object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
</section>
